
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: url(./images/IMG_20241215_135508~2.jpg);
    background-size: cover;
    height: 100vh;
    background-position: center;
}

header{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 99;
    box-shadow: 0 0 10px #000;
    background: rgba(0, 0, 0, 0.5);
}

#chk1{
    display: none;
}

i{
    color: #fff;
    cursor: pointer;
}

header .logo{
    flex: 1;
    color: #fff;
    margin-left: 50px;
    text-transform: uppercase;
    font-size: 15px;
}

header .search-box{
    flex: 1;
    position: relative;
}

.search-box input{
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    background: #f2f2f2;
    border-radius: 30px;
    color: gray;
    font-size: 16px;
    text-align: center;
    padding-left: 5px;
    padding-right: 40px;
}

.search-box button{
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 30px;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    transform: scale(0.9);
    background: green;
}

header ul{
    flex: 2;
    display: flex;
    justify-content: space-evenly;
}

header ul li{
    list-style: none;
}

header ul li a{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px 15px;
}

header ul li a:hover{
    border-bottom: 2px solid cadetblue;
}

header .menu{
    font-size: 2.5em;
    display: none;
}

@media(max-width:1000px){
    .search-box button{
        position: absolute;
    }
    header ul{
        position: fixed;
        top: 100px;
        background: rgba(0, 0, 0, 0.63);
        height: calc(100vh - 100px);
        width: 50%;
        flex-direction: column;
        align-items: center;
        transition: right 0.5secs linear;
    }

    header .menu{
        display: block;
        width: 100px;
        text-align: center;
    }

    #chk1:checked ~ ul{
        right: 0;
    }
}

@media(max-width:600px){
    header .logo{
        font-size: 10px;
        margin-left: 8px;
    }

    header ul{
        width: 100%;
    }
}

.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.contact .content{
    max-width: 800px;
    text-align: center;
}

.contact .content h2{
    font-size: 36px;
    font-weight: 500;
    color: #fff;
}

.contact .content p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    font-weight: 500;
    color: #fff;
}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.container .contactinfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.container .contactinfo .box{
    position: relative;
    padding: 20px 0;
    margin-left: 40px;
    display: flex;
}

.container .contactinfo .box .icon{
    min-width: 60px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.container .contactinfo .box .text{
    display: flex;
    margin-top: 13px;
    margin-left: 10px;
    font-size: small;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
    justify-content: center;
}

.container .contactinfo .box .text h1{
    font-weight: 700;
    color: #00bcd4;
}

.contactForm{
    width: 35%;
    padding: 15px;
    margin-right: 50px;
    border-radius: 10px;
    background-color: transparent;
    backdrop-filter: blur(10px);
}

.contactForm h2{
    font-size: 30px;
    color: #00bcd4;
    font-weight: 700;
    margin-left: 90px;
}

.contactForm .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;
    margin-left: 17px;
}

.contactForm .inputBox input,
.contactForm .inputBox textarea{
    width: 350px;
    padding: 5px 0;
    font-size: small;
    margin: 10px 0;
    background: transparent;
    border-bottom: 3px solid #fff;
    outline: none;
    resize:none;
}

.contactForm .inputBox span{
    position: absolute;
    left: 0;
    margin-left: 20px;
    border: none;
    padding: 5px 0;
    padding-left: 6px;
    font-size: small;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #fffcfc;
}

.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span{
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
}

.contactForm .inputBox input[type="submit"]{
    width: 100px;
    background: #00bcd4;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 5px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 991px){
    .contact{
        padding: 50px;
    }
    .container{
        flex-direction: column;
    }
    .container .contactinfo{
        margin-bottom: 40px;
    }
}